@model IEnumerable<GroupK_A3.Models.Reservation>

@{
    ViewBag.Title = "Hotel Reservations";
}

<h2>Current Reservations</h2>

<h4>@Html.ActionLink("New Reservation", "Create", new { @class = "btn btn-default" })</h4>

<div class="container col-lg-12">
    <div class="row">
        <div class="col-md-2 panel-title"><b>Name</b></div>
        <div class="col-md-2 panel-title"><b>Phone</b></div>
        <div class="col-md-2 panel-title"><b>Email</b></div>
        <div class="col-md-2 panel-title"><b>Checkin Date</b></div>
        <div class="col-md-2 panel-title"><b>Checkout Date</b></div>
    </div>
    <hr />
    @{
        foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-2 panel-title">@item.Name</div>
                <div class="col-md-2 panel-title">@item.Phone</div>
                <div class="col-md-2 panel-title">@item.Email</div>
                <div class="col-md-2 panel-title">@item.CheckinDate</div>
                <div class="col-md-2 panel-title">@item.CheckoutDate</div>
                <div class="col-md-2">@Html.ActionLink("View Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })</div>
            </div>
            <div>  <hr /></div>

        }
    }


</div>
